{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <main class="content">
    <div class="content-panel form-panel">

        <h1 class="mb-4">{{ h1 }}</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.title }}
            {{ form.anons }}
            {{ form.text }}
            {{ form.date }} 
            <span>{{ error }}</span>
            <button type="submit" class="btn btn-success w-100 py-2">
                Добавить статью
            </button>
        </form>

    </div>
</main>

{% endblock %}