{% extends 'main/layout.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <h1>Страница Контактов</h1>
    <p>Приятно, граждане, наблюдать, как независимые государства представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть разоблачены. Таким образом, начало повседневной работы по формированию позиции способствует подготовке и реализации глубокомысленных рассуждений.</p>
    <button type="button" class="btn btn-success px-4 py-2">Контакты</button>
{% endblock %}