{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
    <p>Ясность нашей позиции очевидна: новая модель организационной деятельности требует анализа вывода текущих активов. Каждый из нас понимает очевидную вещь: высококачественный прототип будущего проекта предоставляет широкие возможности для инновационных методов управления процессами.</p>
    <button type="button" class="btn btn-primary px-4 py-2">Узнать главное</button>
{% endblock %}